<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.milwaukee.weather">

    <application
            android:name=".application.MilwaukeeWeatherApplication"
            android:allowBackup="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:fullBackupContent="false"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <activity android:name=".activities.SplashActivity"
                  android:theme="@style/AppTheme.Splash"
                  android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
    </application>

</manifest>